[run]
# Testar somente o que está dentro do projeto (ignora o ambiente virtual)
source = .

# Arquivos que serão omitidos no testes:
omit =
    */__init__.py
    */settings.py
    */wsgi.py
    */apps.py
    */urls.py
    */admin.py
    */migrations/*
    */tests/*
