{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content_header %}
<section class="content-header">
    <h1>Atletas por Modalidade</h1>
</section>
{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <form action="{% url 'atleta_modalidade' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="default" value="Enviar">
    </form>
</div>

{% if inscricoes %}

<div class="results">
    <table id="result_list" class="table table-hover table-striped">
        <thead>
            <tr>
                {% if mostrar_modalidade %}
                <th><div class="text">Modalidade</div></th>
                {% endif %}
                <th><div class="text">Nome do Atleta</div></th>
                <th><div class="text">Matrícula</div></th>
                <th><div class="text">Campus</div></th>
            </tr>
        </thead>
        <tbody>
            {% for inscricao in inscricoes %}
            <tr class="row1">
                {% if mostrar_modalidade %}
                <td>
                    <span>{{inscricao.modalidade.nome}}</span>
                </td>
                {% endif %}
                <td>
                    <span>{{inscricao.atleta.nome}}</span>
                </td>
                <td>
                    <span>{{inscricao.atleta.matricula}}</span>
                </td>
                <td>
                    <span>{{inscricao.unidade_organizacional.nome}}</span>
                 </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
