{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content_header %}
<section class="content-header">
    <h1>Excluir Unidade Organizacional</h1>
</section>
{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <form method="post">
        {% csrf_token %}
        <p>Você tem certeza que deseja excluir "{{ unidade_organizacional.nome }}" ?</p>
        <div class="box-tools pull-left">
            <input type="submit" class="btn btn-danger btn-sm" value="Excluir">
            <a href="{% url 'unidade_organizacional_list' %}" class="btn btn-primary btn-sm">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}


