{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content_header %}
<section class="content-header">
    {% if unidade_organizacional %}
    <h1>Editar Unidade Organizacional</h1>
    {% else %}
    <h1>Adicionar Unidade Organizacional</h1>
    {% endif %}
</section>
{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <form method="post">
        {% if unidade_organizacional %}
        <p>Você está editando "{{ unidade_organizacional.nome }}" </p>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <div class="box-tools pull-left">
            <input type="submit" class="btn btn-primary btn-sm" value="Salvar">
            <a href="{% url 'unidade_organizacional_list' %}" class="btn btn-primary btn-sm">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
