{% extends 'base.html' %}

{% block content_header %}
<section class="content-header">
    <h1>Unidade Organizacional</h1>
</section>
{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <table id="result_list" class="table table-hover table-striped">
        <tbody>
            <tr class="row1">
                <td style="width:80px">
                    <span><bold>Nome:</bold></span>
                </td>
                <td>
                    <span>{{unidade_organizacional.nome}}</span>
                </td>
            </tr>
        </tbody>
    </table>

     <div class="box-tools pull-left">
        <a href="{% url 'unidade_organizacional_list' %}" class="btn btn-primary btn-sm"> Voltar </a>
    </div>
</div>
{% endblock %}